// All styles specific to the image container

.tiled-image-section {
    @media (max-width: 860px) {
        margin-top: 2em;        
    }    
    margin-top: 5em;    
    
    .col-md-4 {
        margin-bottom: 2em;
    }
    
    .landing-page-image {
        position:relative;
    }
    
    .landing-page-image:hover {
        @media (min-width: 990px) {
            -ms-transform: scale(1.05,1.05); /* IE 9 */
            -webkit-transform: scale(1.05,1.05); /* Safari */
            transform: scale(1.05,1.05); /* Standard syntax */
            -ms-transition: -ms-transform 0.40s;
            -webkit-transition: -webkit-transform 0.40s;
            transition: transform 0.40s;
        }        
    }
    
    .landing-page-image:after, .landing-page-image:before {
        position:absolute;
        opacity:0;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    .landing-page-image:after {
        content:'\A';
        width:100%;
        height:100%;
        top:0;
        left:0;
        //background:rgba(255,255,255,0.8);
        background:rgba(0,0,0,0.6);
        cursor: pointer;
    }
    
    .landing-page-image:before {
        content: attr(data-content);
        width:100%;
        color: $blacktheme;
        z-index:1;
        top:55%;
        padding:4px 10px;
        text-align:center;
        //background:rgba(195, 195, 195,0.4);
        background:rgba(255,255,255,0.8);
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        font-family: 'Quicksand';
        font-size: 2.5em;
        text-transform: uppercase;
        cursor: pointer;
        @media (max-width: 1200px) {
            font-size: 1.8em;            
        }
    }
    
    .project-overlay {
        cursor: pointer;
    }
    
    .glyphicon {
        display: none;
        position: absolute;
        line-height: 0;
        z-index: 50;
        font-size: 6em;
        left: 45%;
        top: 45%;
        color: rgba(228, 44, 38, 0.9);
        
        @media (max-width: 990px) {
            display: block;
        }
        
        @media (max-width: 530px) {
            display: block;
            left: 40%;
            font-size: 4em;
        }
    }
    
    .landing-page-image:hover:after, .landing-page-image:hover:before {
        @media (min-width: 990px) {
            opacity:1;
        }        
    }
    
    // For touch devices or smaller screens
    .landing-page-image:before {
        @media (max-width: 990px) {
            content: attr(data-content);
            width:100%;
            color: $blacktheme;
            z-index:1;
            top:75%;
            padding:4px 10px;
            text-align:center;
            opacity: 1;
            background:rgba(255,255,255,1);
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            font-family: 'Quicksand';
            font-size: 2em;
            text-transform: uppercase;           
        }
        
        @media screen and (max-width: 530px) {
            font-size: 1.3em;
        }
        
        @media screen and (min-width: 530px) and (max-width: 620px) {
            font-size: 1.7em;
        }
        
    }
    
    .landing-page-image:after {
        @media (max-width: 990px) {
            content:'\A';
            width:100%;
            height:100%;
            top:0;
            left:0;
            opacity: 1;
            background:rgba(0,0,0,0.2);
        }        
    }   
}