// Navbar Specific styles
@media (max-width: 900px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
        margin-top: 1em;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.navbar-toggle .icon-bar {
    background-color: $defaultwhite;
}

.navbar-toggle {
    margin-top: 4.1em;
    border: 1px solid $defaultwhite;
}


.nav>li>a:focus, .nav>li>a:hover {
    color: $blacktheme;
}

.dropdown-menu>li>a {
    @media (max-width: 900px) {
        color: #d4d4d4;
    }
    
}
.navigation-tabs {
    a {
        text-transform: uppercase;
        font-family: 'Open Sans Condensed';
        letter-spacing: 0.2em;
        font-size: 1.1em;
    }
    
    .dropdown-menu li {
        margin: 0.5em 0em;
    }
    
    li {
        @media (min-width: 900px) {
            margin: 4em 1em 2em 1em;
        }        
    }
}

.navbar-brand {
    color: $defaultwhite;
    font-family: 'Open Sans Condensed';
    height: auto;
    padding: 1.9em 1em 1.5em 1.8em;
    h1 {
        letter-spacing: 0.05em;
        font-weight: 300 !important;
    }    
    h5 {
        float: right;
        margin-right: 4px;
        margin-top: -4px;
        color: #c3c3c3;
        font-weight: 300 !important;
    }   
}

.website-brand-logo {
    &:hover {
        color: none !important;
    }
}