// All styles specific to empirical Synthesis
@import 'variables';
@import 'fonts';

.jumbotron {
    margin-top: -1.3em;
    
    .jumbotron-text {
        @media (max-width: 500px) {
            margin: 2em;
        }
        margin: 5em;
        
        h1 {
            font-family: 'Open Sans Condensed';
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $defaultwhite;
            margin-bottom: 0.2em;
            @media (max-width: 767px) {
                font-size: 3.5em;
            } 
        }
        
        p {
            color: #f5f5f5;
            @media (max-width: 767px) {
                font-size: 1.4em;
            }            
        }
    }
}

.empirical-content {
    margin-top: 5%;
    p {
        font-family: 'Open Sans Condensed';
        color: $defaultwhite;
        font-size: 1.375em;
    }
    span {
        font-weight: bold;
        font-size: 1.4em;
    }
    .static-images {
        margin: 1em 1em 0 1em;
        
        .caption {
            text-decoration: underline;
            color: #6f6f6f;
            font-family: 'Open Sans Condensed';
            h4 {
                @media (max-width: 600px) {
                font-size: 0.8em;
            }
            }
            
        }
    }
    
    .empirical-slideshow {
        margin-top: 1em;
        .carousel-inner {
            img {
                margin: auto;
            }
        }
    }
}

.slides-image-about {
    margin: 0 auto;
    @media (min-width: 900px) {
         height: 800px !important;
    }
   
}

