// Main stylesheet for the website


// Imports
@import 'variables';
@import 'fonts';
@import 'navbar';
@import 'image-container';

body {
    background-color: $blacktheme;
}
a {
    color: $defaultwhite;
    
    &:focus, &:hover {
        color: $defaultwhite;
    }
}

footer {
    margin: 3em;
}

hr {
    width: 50%;
    margin-top: 4em;
    border-top: 1px solid $lighterblack;
}
.copyright-text {
    text-align: center;
    color: $lighterblack;
}

.modal-content {
    top: 50px;
}

.modal-title {
    text-transform: uppercase;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
    color: #9d9d9d;
} 

.modal-dialog {
    @media (min-width: 900px) {
        width: 800px;
    }    
}

.carousel-indicators {
    @media (max-width: 630px) {
         display: none;
     }    
}
.carousel-indicators li {
    border: 1px solid #716c6c;
}
.carousel-indicators .active {
    background-color: $lighterblack;
}

